<h1>Carrito</h1>

<div id="cartProductList">
  {{#each cart.products}}
    <div class="product-card">
      <h3>{{this.product.title}}</h3>
      <p><strong>Precio:</strong> ${{this.product.price}}</p>
      <p><strong>Cantidad:</strong> {{this.quantity}}</p>
    </div>
  {{/each}}
</div>
